* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    max-width: 74rem;
    margin: auto;
}

.row
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col_4 {
    width: calc((100% / 12) *4);
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 20rem;
}

img {
    max-width: 100%;
}

/* debug section */

.debug #app_header {
    width: 100%;
    height: 80px;
    flex-direction: row;
}

.debug .logo {
    height: 70px;
}

.debug .col_4 {
    height: 19rem;
}

.debug #sub_main {
    margin-left: -5rem;
}

/* css section */

.h_container {
    display: flex;
    background-color: orange;
    justify-content: center;
    align-items: center;
}

#app_header {
    padding-bottom: 1rem;
}

.link {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 17rem;
    margin-left: -7rem;
}

a {
    text-decoration: none;
    color: white;
    padding-left: 2rem;    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 19rem;
}

.b_logo {
    width: 200px;
    height:  40px;
}

.access {
    display: flex;
    justify-content: right;
    align-items: center;
}

.images > .bottom {
    display: none;
}

.images:hover .top {
    display: none;
}

.images:hover .bottom {
    display: block;
}

.boxing {
    box-shadow: 0 0 1rem gray;
}

.boxing .images {
    position: relative;
    display: block;
}

.col_body {
    padding: 1 rem;
}

.col_body > strong {
    color: gray;
}

.col_body > h2 {
    text-transform: uppercase;
    font-size: medium;
}

.boxing .target {
    position: absolute;
    bottom: 1rem;
    left: 0;
    display: flex;
    gap: 2px;
}

.target .red {
    background-color: red;
    color: white;
}

.target .green {
    background-color: green;
    color: white;
}

.target .red,
.target .green {
    padding: 2px 0.5rem;
}

.pricing {
    display: flex;
    gap: 5px;
}

.discount {
    color: red;
}

.full {
    text-decoration: line-through;
}

